{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    
    <h3>Mes projets en attente</h3>
    <div class="row">
        
            <table class="table table-hover">
                <thead>
                    <th>Type</th>
                    <th>Intitulé du projet</th>
                    <th>Avancement</th>
                    <th>Lancement</th>
                    <th>Fin</th>
                    <th>Nombre</th>
                    <th>..</th>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
       
    </div>
    
    <h3>Mes projets en cours</h3>
    <div class="row">
        
            <table class="table table-hover">
                <thead>
                    <th>Type</th>
                    <th>Intitulé du projet</th>
                    <th>Avancement</th>
                    <th>Lancement</th>
                    <th>Fin</th>
                    <th>Nombre</th>
                    <th>..</th>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
       
    </div>
    
    <h3>Mes projets en archivés</h3>
    <div class="row">
        
            <table class="table table-hover">
                <thead>
                    <th>Type</th>
                    <th>Intitulé du projet</th>
                    <th>Avancement</th>
                    <th>Lancement</th>
                    <th>Fin</th>
                    <th>Nombre</th>
                    <th>..</th>
                </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
       
    </div>
    
{% endblock content %}

