{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% include "AppBundle:Admin:menuAdmin.html.twig" with {'active' : 'import'} %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Importation d'un fichier .csv pour remplir la base</div>
            <div class="panel-body">
                <div class="col-lg-12">
					<form action="" method="post" {{ form_enctype(form) }}>
						{{ form_widget(form) }}
					</form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

