{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <ul class="list-group">
		{% for user in users %}
			<li class="list-group-item">
				<span class="badge">{{user.id}}</span>
				{{user.pseudo}}
			</li>
		</ul>
	{% endfor %}	
{% endblock content %}