.badge-danger {
	background-color: #d9534f;
}

.badge-warning {
	background-color: #f0ad4e;
}

.badge-success {
	background-color: #5cb85c;
}

.badge-info {
	background-color: #5bc0de;
}

.badge-inverse {
	background-color: #333333;
}

.badge-primary {
	background-color: #428bca;
  background-color: #333333;
}

.progress {
	margin-bottom: 5px;
}
